* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html {
    color: white;
    font-family: 'Open Sans', sans-serif;
    background: radial-gradient(circle, rgba(75,83,103,1) 0%, rgba(33,38,52,1) 102%);
}

ul { list-style-type: none; }
a { text-decoration: none; }

.main {
    background-image: linear-gradient(to bottom right, rgba(52, 73, 94, 0.98),rgba(52, 73, 94, 0.3)), url(../img/hero2.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    padding-top: 30px;
}

.menu-list {
    margin: 0 auto;
    max-width: 1140px;
    text-align: center;
}

.logo-box {
    margin: 0 auto;
    max-width: 1140px;
    text-align: center;
}

.logo {
    width: 40px;
    margin-bottom: 15px;
}

.menu-list {
    list-style-type: none;
}

.menu-list li {
    display: inline-block;
}

.menu-list li a {
    color: white;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 20px;
}

.menu-list li a:hover {
    color: #e7a61a
}

h1 {
    font-size: 85px;
    text-transform: uppercase;
    letter-spacing: 6px;
    word-spacing: 6px;
}

h2 {
    padding-bottom: 30px;
}

.main-h3 {
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform: uppercase;
}

.other {
    margin-bottom: 50px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mail-icon {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 10px;
    padding-left: 15px;
}

.contact {
    height: 100vh;
    background: radial-gradient(circle, rgba(75,83,103,1) 0%, rgba(33,38,52,1) 102%);
}

.content-section {
    padding-top: 50px;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    line-height: 2;
}

.info {
    padding-bottom: 45px;
}

.hobby-list li { 
    display: inline-block;
    margin: 20px 45px;
}

.hobby-list h3 {
    letter-spacing: 1px;
    font-size: 18px;
}

.hobby-icon {
    width: 90px;
}

.contact-side {
    width: 50%;
    float: left;
    text-align: left;
    padding: 0 30px;
    padding-top: 50px;
}

.contact-side h3 {
    margin-bottom: 15px;
    font-size: 45px;
    letter-spacing: 4px;
}

.left-side {
    
}

.form-input {
    display: block;
    width: 400px;
    height: 60px;
    margin: 5px 0px;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: white;
}

.form-input::placeholder, .text-area::placeholder {
    color: white;
}

.text-area {
    width: 400px;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: white;
}

.map {
    width: 100%;
    height: 65vh;
    box-shadow: 3px 4px 5px 2px rgba(0,0,0,0.75);
}

button {
    padding: 15px;
    color: white;
    background-color: #e7a61a;
    border: 0px solid transparent;
    font-size: 20px;
}

.pl-section {
    width: 100%;
    padding-top: 50px;
}

.img1 {
    background-image: url(../img/img1.png);
}

.img2 {
    background-image: url(../img/img2.png);
}

.img3 {
    background-image: url(../img/img3.png);
}

.img4 {
    background-image: url(../img/img4.png);
}